---
---

body{
    padding:0px;
    margin: 0px;
};



.layout_default_body{
    display: flex;
    flex-direction: column;
    .content{
        color: #333;
        background-color: #fff; 
        &_before{
            height: 100px;
            color: #fff;
            background-color: #333; 
            display: flex;
            align-items: center;
            padding-left: 20px;
            font-size: 32px;
            font-weight: bold;
        }
        &_after{ 
            height: 60px;
            color: #333;
            background-color: #fff;
            border-top: 2px #333 solid;
        }
    }

    .post-item{
        padding: 20px 20px;
        a{
            padding: 5px  ;
        }
    }

}






